devel/**
build/**
.vscode/**
src/debug_assistant/scripts/__pycache__/algorithms.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/component.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/event.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/input.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/monitor.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/news.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/render.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/ros_gol.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/surfaces.cpython-38.pyc
src/debug_assistant/scripts/__pycache__/toros.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/__pycache__/teach_action.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/debug_sdf.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/sdf_penal_action.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/teach_action.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/teach_action2.cpython-38.pyc
src/plan_manager/config/livz/__pycache__/touch_action.cpython-38.pyc
